
@font-face
{
font-family: 'RobotoBold';
src: url('../fonts/RobotoCondensed-Bold.ttf');
font-weight: normal;
font-style: normal;

}
@font-face
{
font-family: 'RobotoLight';
src: url('../fonts/RobotoCondensed-Light.ttf');
font-weight: normal;
font-style: normal;

}
@font-face
{
font-family: 'RobotoRegular';
src: url('../fonts/RobotoCondensed-Regular.ttf');
font-weight: normal;
font-style: normal;
line-height: 0.6;

}
@font-face
{
font-family: 'LobsterRegular';
src: url('../fonts/Lobster-Regular.ttf');
font-weight: normal;
font-style: normal;

}
html, body
{
  font-family: 'RobotoRegular';
  color:#212121;
  background-image:url();
  background-color:#f5f5f5;
  background-image:url();

}
#Popup1,#Popup2
{
	top:50px;
	left:0;
	position:fixed;
	list-style-type: none;
	background-color:rgba(157, 157, 157, 0.8);
	/*opacity: 0.95;*/
	width:100%;
	height:100%;
	z-index:10000;
	-webkit-tap-highlight-color: transparent;
	}
#tt,#tt2
{
	position:relative;
	top:5px;
	background-color:#fff;
	width:80%;
	padding:12px;
	height:auto;
	margin:5px auto auto auto;
	/*border:white solid 1px;*/
}
a
{
	color:#212121;
	font-family: 'RobotoBold';
	text-transform:uppercase;
	text-shadow: none;
	font-size:14px;
	line-height:1.1;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
li
{
	padding: 0px 0;
	text-align:center;
	list-style-type: none; /* Убираем маркеры */
	text-decoration:none;
	-webkit-tap-highlight-color: transparent;
}
ul
{
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.food_category/*Название раздела меню*/
{
	width:100%;
	position: relative;
	left:0;
	font-family: 'RobotoBold';
	text-align: center;
	font-size:24px;
	padding: 3px 0px 5px 0px;
	text-transform: uppercase;
	background-color: rgba(255, 149, 0, 0.9);
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 5px rgba(0,0,0,0.3);
	z-index: 90;
}

.pages_header/* Шапка */
{
	width:100%;
	height:50px;
	position:fixed;
	left:0px;
	top:0px;
	background:#ffffff;
	z-index:1000;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.line/*Горизонтальная линия*/
{
  border-top: 1px solid #b8b8b8;
  margin:7px 0 7px 0;

}

.food_conteiner/* Контейнер еды */
{
  display: block;
  width:96%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}
.food_conteiner_content/* Контейнер контента карточки клиента */
{
  background-color:#ffffff;
  margin:12px 0;
  padding:10px;
  -webkit-box-shadow: 0px 2px 2px 1px #bbbbbb;
  -webkit-tap-highlight-color: transparent;
}

/* Колонки для веса, цены и кнопки Купить */
#left, #center, #right {height:24px;}

/* левая колонка обтекание слева */
#left {float:left;}
#left img {width:90px; }
/* правая колонка обтекание справа */
#right {float:right; width:90px; text-align: right;}
/* середина, ширина резиновая */
#center {margin:0 0px; text-align: center;}

/* Колонки для маленьких МЕНЮ */
#left_menu, #center_menu, #right_menu {height:40px;}
/* левая колонка обтекание слева */
#left_menu {float:left; margin:3px 0 0 5px;}
/* правая колонка обтекание справа */
#right_menu {float:right; margin:3px 5px 0 0;}
/* середина, ширина резиновая */
#center_menu {margin:0 0px; text-align: center;}


.buttonsmall_menu/* Кнопка МЕНЮ маленькая */
{
	border: 1px solid #ddd;
	border-radius: 40px;
	/*width:50%;*/
	height:40px;
	width:40px;
	padding: 0px 0 0 0;
	border: solid 1px #d2d2d2;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	/* ie7 */-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	/* ie8 */
	 outline:none;
}
.buttonsmall_menu img
{
	width:20px;
	margin: 10px 0 0 9px;
}
.buttonsmall_menu:active
{
	background: #e9e9e9;
	position: relative;
	top: 1px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}
.food_name/* Название товара */
{
	font-size: 16px;
	font-weight:bolder;
	color:#000000;
	line-height: 1.2;
	margin: 0 0 5px 0;
	/*text-transform: capitalize;*/
}
.food_name:first-letter { text-transform: capitalize !important; }

.food_text/* Описание товара */
{
	font-size: 12px;
	text-align:justify;
	line-height: 1.1;
	color:#212121;
	margin: 0px 0px 0 0;
	/*text-transform: capitalize;*/
}
.food_text:first-letter { text-transform: capitalize !important; }

.food_price/* Цена товара */
{
	font-size: 15px;
	text-align:justify;
	line-height: 1.2;
	color:#212121;
	font-weight: bold;
	padding: 0px 0 0 0;
}

.button_buy/* Кнопка купить */
{
	width:80px;
	font-family: 'RobotoBold';
	font-size: 12px;
	text-align: center;
	padding:3px 10px 3px 10px;
	/*position: relative;
	/*left: 10px;
	bottom: 0px;
	z-index: 110;*/
	height: 20px;
	color:#ffffff;
	text-transform: uppercase;
	background-color: #009999;
	border-radius:10px 10px 10px 10px;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.button_buy:active
{
	background: #e9e9e9;
	position: relative;
	top: 1px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.button_menu/* Кнопка МЕНЮ */ {
	position:fixed;
	left:80px;
	right:80px;
	top:6px;
	z-index:1000;
	font-family: 'RobotoBold';
	font-size:32px;
	color: #009999;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 36px;
	/*width:50%;*/
	height:36px;
	/*margin:-50px 25% 0 25%;*/
	/*padding: 5px 0 0 0;*/
	border: solid 1px #d2d2d2;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
}

.button_menu:active
{
	background: #e9e9e9;
	position: fixed;
	top:6px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}
.menu_body/* Тело МЕНЮ */
{
	margin:15px 2% 15px 2%;
	padding: 10px 30px;
	background-color:#ffffff;
	border-radius: 5px;
	list-style-type: none;
	border:0px solid #f5f5f5;
	box-shadow: 0px 2px 15px 3px #f5f5f5;
	-webkit-box-shadow: 0px 4px 15px 1px #bbbbbb;
	text-decoration:none;
	-webkit-tap-highlight-color: transparent;
}
.menu_body a
{
	font-family: 'RobotoBold';
	font-size: 12px;
	text-align: center;
	color: #009999;
	}

.food_hit_color/* Лента Хит продаж */
{
	font-family: 'RobotoLight';
	font-size: 11px;
	text-align: left;
	position: relative;
	padding: 1px 5px 1px 5px;
	background-color: rgba(255, 0, 157, 0.8);
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 5px rgba(0,0,0,0.3);
	z-index: 90;

}
.food_hit/* Контейнер для ленты Хит продаж !!! Обязательно должен быть после food_hit_color !!! */
{
	position: absolute;
	z-index: 120;
	margin: 5px 0 0 -3px ;
}
/* */
.column/* Колонка в контейнере еды для фото и описания */
{
	display:table-cell;
	vertical-align: top;
}

.column img/* Картинка в контейнере еды для фото и описания */
{
	width:140px;
	margin:0 10px 5px 0;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
}
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 0px 10px 0px 0; /* Отступы вокруг картинки */
}
span.round
{
  font-family: 'RobotoLight';
  font-size: 8px;
  background: #ec4137;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  /*margin-right: 15px;
*/  text-align: center;
  width: 1.6em;

}
.message/* Сообщение "Корзина пуста" */
{
	background: #FFF;
	border-radius: 10px;
	margin: 20px;
	padding: 50px;
	text-align: center;
}
.btable
{
	width: 100%;
	table-layout: fixed;
}
.card_body/* Карточка товаров в корзине */
{
	margin-bottom:3px;
	background-color:#ffffff;
	border:0px solid #f5f5f5;
	box-shadow: 0px 2px 15px 3px #f5f5f5;
	/*-webkit-box-shadow: 0px 4px 15px 1px #bbbbbb;*/
	/*-webkit-tap-highlight-color: transparent;*/
}
.card_body_inline {
	display: inline-block;
}
.card_body_right {
	float: right;
}
.bbutton-basket {
	border: none;
	color: #FFF;
	width: 80%;
	font-weight: 600;
	background-color: rgb(93, 186, 0);
	padding: 5px 10px;
	margin: auto 10%;
}
.table/*Таблица для иконок контактов и социальных сетей*/
{
	display:table;
}
.row
{
	display:table-row;
}
.col
{
	display:table-cell;
	text-align: center;
}
.cell_info
{
	width:100%;
	background:#ffffff;
	color:#212121;
	font-family: 'RobotoRegular';
	font-size:14px;
	text-align:left;
	text-shadow: none;
	text-align:justify;
	padding:5px 5px 5px 5px;
	/*vertical-align: middle;*/
}
.cell_img img
{
	width:70px;
	margin: 5px 5px 5px 5px;
	box-shadow: 0px 0px 2px 1px #c7c7c7;
	-webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;
}
.bbutton/* Кнопки оформления и отправки заказа в корзине */
{
	cursor: pointer;
	font-family: 'RobotoBold';
	font-size: 16px;
	text-align: center;
	padding:5px 10px 5px 10px;
	color:#ffffff;
	text-transform: uppercase;
	background-color: #009999;
	border-radius:50px;
	text-transform:uppercase;
	text-shadow: none;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	float: right;
}

.bbutton:active/* Кнопки оформления и отправки заказа в корзине */
{
	background: #e9e9e9;
	position: relative;
	top: 1px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.popup/* Оформление формы заполнения заказа */
{
	width: 100%;
	display: none;
	font-family: 'RobotoRegular';
	font-size: 16px;
	color:#212121;
    font-weight: normal;
}

.popup form/* Оформление формы заполнения заказа */
{
	padding: 0 30px 0 10px;
}
/*.popup input[type="text"], .popup input[type="phone"]!* Оформление формы заполнения заказа *!*/
/*{*/
	/*font-family: 'RobotoRegular'*/
	/*text-align: left;*/
	/*font-size: 14px;*/
	/*border: 1px solid #cccccc;*/
	/*display: block;*/
	/*width: 100%;*/
	/*margin-bottom: 10px;*/
	/*display: inline-block;*/
	/*height: 24px;*/
	/*line-height: 24px;*/
	/*padding: 0 10px;*/
	/*vertical-align: middle;*/
/*}*/
/*.popup select!* Оформление формы заполнения заказа *!*/
/*{*/
	/*border: 1px solid #cccccc;*/
/*}*/
.error-min-delivery {
	text-align: center;
}

.loading {
	position: fixed;
	display: block !important;
	background: url('http://katushka.in.ua/templates/katushka2/images/ajax-loader.gif') center center no-repeat;
	background-color: #1d1d1d;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.green_button{
	background: rgb(31, 148, 10);
	color: #fff;
	border: none;

}