@font-face {
  font-family: "SFUIDisplay-Light";
  src: url("../fonts/SFUIDisplay-Light.otf") format("otf"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../fonts/SFUIDisplay-Regular.otf") format("otf"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "SFUIDisplay-Semibold";
  src: url("../fonts/SFUIDisplay-Semibold.otf") format("otf"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "SFUIDisplay-Regular", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  opacity: 1; }

.row, h2, p {
  margin-bottom: 0px;
  margin-top: 0px; }

.padd-0 {
  padding: 0px !important; }

.header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3c7de3), to(#4daced));
  background-image: -webkit-linear-gradient(bottom, #3c7de3, #4daced);
  background-image: -o-linear-gradient(bottom, #3c7de3, #4daced);
  background-image: linear-gradient(to top, #3c7de3, #4daced);
  padding: 10px 62px; 
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 99999;
}
  .header .button-collapse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header .button-collapse .material-icons {
      color: #fff;
      font-size: 21px; }

.header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header_nav .header_nav-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%; }
  .header_nav .header_nav-center {
    display: inline-block; }
    .header_nav .header_nav-center h2 {
      font: 26px/36px "SFUIDisplay-Semibold", sans-serif;
      color: #fff; }
  .header_nav .header_nav-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%; }
    .header_nav .header_nav-right a {
      color: #fff; 
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center}
              .logo{
                margin-top: 60px;
              }
.logo .logo_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; 
  }
  .logo .logo_row .logo_center {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .logo .logo_row .logo_center .logo_image {
      margin: 0 auto;
      display: block;
      width: 30%; }
    .logo .logo_row .logo_center span {
      font: 36px/36px "SFUIDisplay-Semibold", sans-serif;
      color: #45362a;
      margin-top: 10px;
      border-bottom: 1px solid #45362a; }
    .logo .logo_row .logo_center p {
      font: 10px/10px "SFUIDisplay-Semibold", sans-serif;
      color: #45362a; }

.product-list {
  margin: 35px 0px;
  position: relative; }
  .product-list:before {
    content: '';
    position: fixed;
    background: url("/img/logo.png") no-repeat;
    background-position: center;
    -webkit-background-size: 50% 50%;
            background-size: 50%;
    width: 100%;
    height: 100%;
    top: 30%;
    z-index: -1; }
  .product-list .tabs {
    background: none; }
    .product-list .tabs .tab a {
      color: #50391f;
      text-transform: none;
      font: 21px/21px "SFUIDisplay-Regular", sans-serif; }
    .product-list .tabs .indicator {
      background-color: #3c7de3;
      height: 5px; }

.product {
  -webkit-border-radius: 26px;
          border-radius: 26px;
  opacity: 0.85;
  background-color: #fff;
  -webkit-box-shadow: 0.1px 1.5px 3.8px 1.2px rgba(78, 73, 73, 0.09);
          box-shadow: 0.1px 1.5px 3.8px 1.2px rgba(78, 73, 73, 0.09);
  margin-top: 50px;
  padding: 28px; }
  .product .product_img {
    margin-bottom: 10px; }
    .product .product_img img {
      width: 50%;
      margin: 0 auto;
      display: block; }
  .product .product_bottom span {
    display: block;
    margin-bottom: 10px; }
  .product .product_bottom .product_bottom-name a {
    font: 16px/18px "SFUIDisplay-Semibold", sans-serif;
    color: #3c69ac; }
  .product .product_bottom .product_bottom-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font: 16px/20px "SFUIDisplay-Semibold", sans-serif; }
    .product .product_bottom .product_bottom-price p {
      font: 16px/20px "SFUIDisplay-Regular", sans-serif;
      color: #292829;
      padding-right: 5px; }
    .product .product_bottom .product_bottom-price p:last-child {
      padding-right: 0px;
      padding-left: 5px; }
  .product .product_bottom .product_select {
    margin-bottom: 13px;
    font: 16px/20px "SFUIDisplay-Regular", sans-serif;
    color: #9398a0;
    -webkit-border-radius: 13px;
            border-radius: 13px;
    border-color: #c1c1c1;
    width: 50%;
    background: none; }
    .product .product_bottom .product_select:focus {
      outline: none; }
  .product .product_bottom .product_bottom-btn {
    background-image: -webkit-linear-gradient(63deg, #ffc400, #ffc400 99%);
    background-image: -o-linear-gradient(63deg, #ffc400, #ffc400 99%);
    background-image: linear-gradient(27deg, #ffc400, #ffc400 99%);
    display: block;
    -webkit-border-radius: 12.6px;
            border-radius: 12.6px;
    color: rgba(41, 40, 41, 0.85);
    text-align: center;
    letter-spacing: 0.5px;
    font: 20px/40px "SFUIDisplay-Regular", sans-serif;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    margin-top: 15px; }
    .product .product_bottom .product_bottom-btn:focus, .product .product_bottom .product_bottom-btn:hover {
      background-image: -webkit-linear-gradient(63deg, #ffc400, #f3bb04 79%);
      background-image: -o-linear-gradient(63deg, #ffc400, #f3bb04 79%);
      background-image: linear-gradient(27deg, #ffc400, #f3bb04 79%); }

.search-hide {
  margin-top: 10px; 
  display: none;
}
  .search-hide .col {
    padding: 0px; }
  .search-hide .search-hide_form {
    width: 100%;
    position: relative; }
    .search-hide .search-hide_form input {
      background-color: rgba(13, 40, 81, 0.38);
      color: #fcfcfc;
      -webkit-border-radius: 26px;
              border-radius: 26px;
      outline: none;
      border: none;
      margin-bottom: 0px;
      height: 40px;
      font: 20px/40px "SFUIDisplay-Light", sans-serif;
      padding: 0px 20px 0px 45px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .search-hide .search-hide_form input::-webkit-input-placeholder {
        color: #fcfcfc;
        font: 20px/40px "SFUIDisplay-Light", sans-serif;
        font-weight: 400; }
      .search-hide .search-hide_form input::-moz-placeholder {
        color: #fcfcfc;
        font: 20px/40px "SFUIDisplay-Light", sans-serif;
        font-weight: 400; }
      .search-hide .search-hide_form input:-ms-input-placeholder {
        color: #fcfcfc;
        font: 20px/40px "SFUIDisplay-Light", sans-serif;
        font-weight: 400; }
      .search-hide .search-hide_form input::-ms-input-placeholder {
        color: #fcfcfc;
        font: 20px/40px "SFUIDisplay-Light", sans-serif;
        font-weight: 400; }
      .search-hide .search-hide_form input::placeholder {
        color: #fcfcfc;
        font: 20px/40px "SFUIDisplay-Light", sans-serif;
        font-weight: 400; }
      .search-hide .search-hide_form input:focus {
        border-bottom: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important; }
    .search-hide .search-hide_form .reset {
      position: absolute;
      right: 17px;
      top: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      color: rgba(13, 40, 81, 0.58);
      background-color: rgba(254, 254, 254, 0.55); }
    .search-hide .search-hide_form .search-icon {
      position: absolute;
      left: 17px;
      top: 8px;
      color: #fff; }

.filter {
  margin-bottom: 30px;
  margin-top: 115px;
  position: relative;
  display: none;
 }
  .filter:before {
    content: '';
    position: fixed;
    background: url("/img/logo.png") no-repeat;
    background-position: center;
    -webkit-background-size: 50% 50%;
            background-size: 50%;
    width: 100%;
    height: 100%;
    top: 30%;
    z-index: -1; }
    .filter .filter-select{
      display: none;
      margin: 10px 0px;
      padding: 15px 0px;
      background-color: #fff;
      opacity: 0.851;
      -webkit-box-shadow: 0.209px 2.993px 7.6px 2.4px rgba(78, 73, 73, 0.21);
        box-shadow: 0.209px 2.993px 7.6px 2.4px rgba(78, 73, 73, 0.21);
    }
    .filter .filter-select .browser-default{
      margin: 10px 0px;
      border: none;
      border-top: solid 0.5px #cdcdcd;
      border-bottom: solid 0.5px #cdcdcd;
      font: 21px/24px "SFUIDisplay-Regular", sans-serif;
      color: #292829;
      height: 3.5rem;
      padding: 0px 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../img/arrow-select.png) 98%/15% no-repeat #fff;
      background-size: 12px;
    }
    .filter .filter-select .browser-default:focus{
     outline: none;
    }
    .filter .result-product{
      margin-top: 20px;
    }
  .filter .filter-btn {
    margin-top: 30px; 
  display: none;}
    .filter .filter-btn .col {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      padding: 0 40px; }
      .filter .filter-btn .col .filter-btn_reset {
        font: 21px/44px "SFUIDisplay-Regular", sans-serif;
        display: block;
        background-color: #fff;
        border: solid 0.5px #000;
        -webkit-border-radius: 16px;
                border-radius: 16px;
        color: #020202;
        text-transform: uppercase;
        padding: 0px 30px; }
      .filter .filter-btn .col .filter-btn_ok {
        font: 21px/44px "SFUIDisplay-Regular", sans-serif;
        display: block;
        background-color: #f2c945;
        -webkit-border-radius: 16px;
                border-radius: 16px;
        color: #020202;
        text-transform: uppercase;
        padding: 0px 30px; }

.single-product {
  background: url("/img/logo.png") no-repeat;
  background-position: center;
  -webkit-background-size: 60% 60%;
          background-size: 60%; 
  /* margin-top: 60px;  */
     }
  .single-product .single-product_cart .single-product_cart-img {
    -webkit-box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
            box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
    opacity: 0.85;
    background-color: #fff;
    -webkit-border-radius: 12.6px;
            border-radius: 12.6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px; }
    .single-product .single-product_cart .single-product_cart-img img {
      width: 30%; }
  .single-product .single-product_cart .single-product_cart-property {
    -webkit-box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
            box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
    opacity: 0.85;
    background-color: #fff;
    -webkit-border-radius: 12.6px;
            border-radius: 12.6px;
    margin: 10px 0px;
    padding: 10px 20px; }
    .single-product .single-product_cart .single-product_cart-property h4 {
      color: #3c69ac;
      font: 21px/21px "SFUIDisplay-Semibold", sans-serif;
      margin-bottom: 30px; }
    .single-product .single-product_cart .single-product_cart-property .single-product_cart-property_list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 10px; }
      .single-product .single-product_cart .single-product_cart-property .single-product_cart-property_list p {
        color: #666;
        font: 16px/20px "SFUIDisplay-Regular", sans-serif; }
    .single-product .single-product_cart .single-product_cart-property .product_select {
      margin-bottom: 13px;
      font: 16px/20px "SFUIDisplay-Regular", sans-serif;
      color: #9398a0;
      -webkit-border-radius: 13px;
              border-radius: 13px;
      border-color: #c1c1c1;
      width: 10%;
      background: none; }
      .single-product .single-product_cart .single-product_cart-property .product_select:focus {
        outline: none; }
    .single-product .single-product_cart .single-product_cart-property .product_bottom-price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      font: 16px/20px "SFUIDisplay-Semibold", sans-serif;
      margin-top: 20px; }
      .single-product .single-product_cart .single-product_cart-property .product_bottom-price p {
        font: 16px/20px "SFUIDisplay-Regular", sans-serif;
        color: #292829;
        padding-right: 5px; }
      .single-product .single-product_cart .single-product_cart-property .product_bottom-price p:last-child {
        padding-right: 0px;
        padding-left: 5px;
        font: 16px/20px "SFUIDisplay-Semibold", sans-serif; }
  .single-product .single-product_cart .single-product_cart-btn .single-add-cart-btn {
    background-color: #f2c945;
    -webkit-border-radius: 12.6px;
            border-radius: 12.6px;
    text-align: center;
    display: block;
    font: 24px/44px "SFUIDisplay-Regular", sans-serif;
    text-transform: uppercase;
    color: #020202; }
  .single-product .single-product_cart .single-product_cart-descript {
    -webkit-box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
            box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
    opacity: 0.85;
    background-color: #fff;
    -webkit-border-radius: 12.6px;
            border-radius: 12.6px;
    margin: 10px 0px; }
    .single-product .single-product_cart .single-product_cart-descript .tabs .tab a:hover, .single-product .single-product_cart .single-product_cart-descript .tabs .tab a.active {
      color: #000; }
    .single-product .single-product_cart .single-product_cart-descript .tabs .tab {
      width: 50%; }
    .single-product .single-product_cart .single-product_cart-descript .tabs .indicator {
      background-color: #4392e8;
      height: 4px; }
    .single-product .single-product_cart .single-product_cart-descript .tabs .tab a {
      color: #000;
      text-transform: none;
      font: 21px/44px "SFUIDisplay-Regular", sans-serif; }
    .single-product .single-product_cart .single-product_cart-descript .tab_descript {
      padding: 20px; }
      .single-product .single-product_cart .single-product_cart-descript .tab_descript p {
        font: 18px/24px "SFUIDisplay-Regular", sans-serif; }
      .single-product .single-product_cart .single-product_cart-descript .tab_descript .tab_descript-list .tab_descript-list-name {
        font: 18px/44px "SFUIDisplay-Semibold", sans-serif; }
      .single-product .single-product_cart .single-product_cart-descript .tab_descript .tab_descript-list p {
        font: 18px/44px "SFUIDisplay-Regular", sans-serif; }
      .single-product .single-product_cart .single-product_cart-descript .tab_descript .tab_descript-list .tab_descript-list-top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid #cdcdcd; }
      .single-product .single-product_cart .single-product_cart-descript .tab_descript .tab_descript-list .tab_descript-list-descript {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header {
    padding: 10px 15px; }
  .header_nav .header_nav-center h2 {
    font-size: 21px; }
  .header_nav .header_nav-left,
  .header_nav .header_nav-right {
    width: 24%; }
  .logo .logo_row {
    margin-top: 10px; }
  .logo .logo_row .logo_center {
    width: 55%; }
  .product-list .tabs .tab a {
    font-size: 12px; }
  .product {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px; }
  .product-list .tabs .indicator {
    bottom: 20px; }
  .product .product_bottom .product_bottom-name a {
    font-size: 12px;
    line-height: 13px;
    display: inline-block; }
  .product .product_bottom .product_select {
    width: 80%; }
  .product .product_bottom .product_bottom-price {
    font-size: 14px; }
  .product .product_bottom .product_bottom-price p {
    font-size: 12px; }
  .product .product_bottom .product_bottom-btn {
    font-size: 16px;
    line-height: 32px; }
  .product .product_img img {
    width: 70%; }
  .product-list:before {
    top: 20%; }
  .filter .filter-btn .col .filter-btn_reset,
  .filter .filter-btn .col .filter-btn_ok {
    font: 16px/40px "SFUIDisplay-Regular", sans-serif;
    padding: 0px 20px; }
  .filter .filter-btn .col {
    padding: 0px 15px; }
  .filter .collapsible .collapsible-header,
  .search-hide .search-hide_form input,
  .search-hide .search-hide_form input::-webkit-input-placeholder {
    font-size: 16px; }
  .filter .collapsible .collapsible-header,
  .search-hide .search-hide_form input,
  .search-hide .search-hide_form input::-moz-placeholder {
    font-size: 16px; }
  .filter .collapsible .collapsible-header,
  .search-hide .search-hide_form input,
  .search-hide .search-hide_form input:-ms-input-placeholder {
    font-size: 16px; }
  .filter .collapsible .collapsible-header,
  .search-hide .search-hide_form input,
  .search-hide .search-hide_form input::-ms-input-placeholder {
    font-size: 16px; }
  .filter .collapsible .collapsible-header,
  .search-hide .search-hide_form input,
  .search-hide .search-hide_form input::placeholder {
    font-size: 16px; }
  .search-hide .search-hide_form .material-icons {
    font-size: 16px;
    top: 12px; }
  .single-product .single-product_cart .single-product_cart-img img {
    width: 80%; }
  .single-product .single-product_cart .single-product_cart-property h4 {
    font-size: 16px;
    margin-bottom: 15px; }
  .single-product .single-product_cart .single-product_cart-property .single-product_cart-property_list {
    margin-bottom: 5px; }
  .single-product .single-product_cart .single-product_cart-property .product_select {
    margin: 20px 0px;
    width: 50%; }
  .single-product .single-product_cart .single-product_cart-property .product_bottom-price {
    margin-top: 0px; }
  .single-product .single-product_cart .single-product_cart-btn .single-add-cart-btn,
  .single-product .single-product_cart .single-product_cart-descript .tabs .tab a {
    font-size: 16px;
    line-height: 36px; }
  .single-product .single-product_cart .single-product_cart-descript .tabs .indicator {
    bottom: 10px; }
  .single-product .single-product_cart .single-product_cart-descript .tab_descript {
    padding: 0px 20px; }
  .single-product .single-product_cart .single-product_cart-descript .tab_descript .tab_descript-list .tab_descript-list-name,
  .single-product .single-product_cart .single-product_cart-descript .tab_descript .tab_descript-list p {
    font-size: 16px; } 
    .filter .filter-select .browser-default{
      background-size: 10px;
      background-position: 96%;
    }
    .filter .filter-select .browser-default{
      font-size: 16px;
    }
  }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
