@font-face{font-family: 'RobotoBold';src: url('fonts/RobotoCondensed-Bold.ttf');font-weight: normal;font-style: normal;}
@font-face{font-family: 'RobotoLight';src: url('fonts/RobotoCondensed-Light.ttf');font-weight: normal;font-style: normal;}
@font-face{font-family: 'RobotoRegular';src: url('fonts/RobotoCondensed-Regular.ttf');font-weight: normal;font-style: normal;line-height: 0.6;}
@font-face{font-family: 'LobsterRegular';src: url('fonts/Lobster-Regular.ttf');font-weight: normal;font-style: normal;}
html, body{  font-family: 'RobotoRegular';  color:#212121;  background-image:url();  background-color:#f5f5f5;background-image:url();}
a{  text-decoration:none;  -webkit-tap-highlight-color: transparent;}
.pages_header/* Шапка */{  width:100%;  height:50px;  position:fixed;  left:0px;  top:0px;  background:#ffffff;    /*color:#009999;  font-family: 'RobotoRegular';  text-transform:uppercase;  text-shadow: none;  font-size:20px;  line-height:1.1;*/   -webkit-tap-highlight-color: transparent;  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.pages_header_text{      color:#009999;  font-family: 'RobotoRegular';  text-transform:uppercase;  text-shadow: none;  font-size:20px;  line-height:1.1;    height: 50px;  display: table-cell;  vertical-align:middle;    /*text-align:center;  /*padding-left:80px; /*margin:0 auto; */ }
.pages_header img/* Шапка */{width:30px;height:30px;/*padding:0px 5px 0 0px;*//*margin-bottom:0px;**/vertical-align:middle;font-family: 'RobotoRegular';z-index:1000;  }
div.pages_header/* Шапка */{    z-index: 1000;}
.pages_search/* Поиск */{  width:100%;  height:50px;  position:fixed;  left:0px;  top:50px;  background:#ffffff;  z-index:1001;  -webkit-tap-highlight-color: transparent;  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.search{  font-family: 'RobotoLight';  font-size:16px;  margin-left:-3px;  text-indent:12px;  color: #212121;  height:24px;  width:100%;  outline:none;/*border: none;background: none;outline: none;-webkit-appearance: none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;*/    background: #fff;padding: 0px;border: solid 1px #bcbbbb;/*outline: none;*/-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em;-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);box-shadow: inset 0 1px 2px rgba(0,0,0,.2);}
.ui-focus{ -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;  }
.form_search{/*margin-top: 7px;*/  border: 1px solid #ddd;border-radius: 30px;  width:96%;  /*margin: 2% auto;*/  margin:5px 2% 0 2%;  position:fixed;  z-index:2999;    /*padding: 23px;  /*display: inline-block;zoom: 1;*/ /* ie7 hack for display:inline-block *display: inline;*/border: solid 1px #d2d2d2;/*padding: 2px 2px;*/-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em;-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);box-shadow: 0 1px 0px rgba(0,0,0,.1);background: #f1f1f1;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));background: -moz-linear-gradient(top,  #fff,  #ededed);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */}
.card-conteiner/*Контейнер карточки клиента*/{  display: block;  width:96%;  height: auto;  margin-left: auto;  margin-right: auto;}
.card-conteiner-content/*Контейнер контента карточки клиента*/{  background-color:#ffffff;  margin:12px 0;  padding:10px;  -webkit-box-shadow: 0px 2px 2px 1px #bbbbbb;  -webkit-tap-highlight-color: transparent;}
.card-conteiner-content-name/*Название компании в карточке клиента*/{  font-size: 20px;  font-weight:bolder;  color:#000000;  line-height: 1.2;}
.card-conteiner-content-adress/*Адрес компании в карточке клиента*/{  font-size: 14px;  color:#4a4a4a;  text-align:left;  line-height: 1.2;  margin-top:8px;}
.card-conteiner-content-text/*Описание компании в карточке клиента*/{  font-size: 14px;  text-align:justify;  line-height: 1.4;  color:#212121;  margin: 10px 0px 0 0;}
.card-conteiner-img/*Контейнер слайдера в карточке клиента*/{  width:100%;}
.table/*Таблица для иконок контактов и социальных сетей*/{  display:table;}
.row{  display:table-row;}
.col{  display:table-cell;  vertical-align: middle;  text-align: left;  padding:5px 0;}
.col img{  width:30px;  margin:0 7px;  margin-bottom:-9px;}
.basketicon img{  width:39px;  margin:0 7px;  margin-bottom:-9px;}
.line/*Горизонтальная линия*/{  border-top: 1px solid #b8b8b8;  margin:7px 0 7px 0;}
.ribbon-color/*Лента Рекомендуем*/{  font-family: 'LobsterRegular';  text-align: left;  position: relative;  padding: 3px 10px 5px 10px;  background-color: rgba(255, 149, 0, 0.9);  color: #ffffff;  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);  -moz-box-shadow:    0px 0px 5px rgba(0,0,0,0.3);  box-shadow:         0px 0px 5px rgba(0,0,0,0.3);  z-index: 90;}
.ribbon/*Контейнер для ленты "Рекомендуем" !!! Обязательно должен быть после ribbon-color !!!*/{  position: absolute;  z-index: 120;  margin: 10px 0 0 -3px ;}
.food_img img/*Фотографии еды*/{  display:block;  height: auto;  width: 100%;  margin-bottom:5px;  box-shadow: 0px 0px 2px 1px #c7c7c7;  -webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;  }
.slider/*Слайдер*/{  position: relative;  z-index:0; }
.slider input/*Слайдер*/{display: none;}
.slider .item/*Слайдер*/{ width: 100%;opacity: 1.0;transition: opacity 0.0s linear 0.2s;-moz-transition: opacity 0.0s linear 0.2s;-webkit-transition: opacity 0.0s linear 0.2s;-o-transition: opacity 0.0s linear 0.2s;}
.slider img/*Слайдер*/{  display:block;  height: auto;  width: 100%;  margin-bottom:5px;  box-shadow: 0px 0px 2px 1px #c7c7c7;  -webkit-box-shadow: 0px 0px 2px 1px #c7c7c7;}
.slider .item ~ .item/*Слайдер*/{position: absolute;top: 0px;left: 0px;opacity: 0.0;}
.slider input:nth-of-type(1):checked ~ .selector_list label:nth-of-type(1),.slider input:nth-of-type(2):checked ~ .selector_list label:nth-of-type(2),.slider input:nth-of-type(3):checked ~ .selector_list label:nth-of-type(3),.slider input:nth-of-type(4):checked ~ .selector_list label:nth-of-type(4),.slider input:nth-of-type(5):checked ~ .selector_list label:nth-of-type(5){color: #fff;}
.slider input:nth-of-type(1):checked ~ .item:nth-of-type(1),.slider input:nth-of-type(2):checked ~ .item:nth-of-type(2),.slider input:nth-of-type(3):checked ~ .item:nth-of-type(3),.slider input:nth-of-type(4):checked ~ .item:nth-of-type(4),.slider input:nth-of-type(5):checked ~ .item:nth-of-type(5){opacity: 1.0;transition: opacity 0.2s linear;-moz-transition: opacity 0.2s linear;-webkit-transition: opacity 0.2s linear;-o-transition: opacity 0.2s linear;z-index: 6;}
/*Авторотация слайдов */@keyframes item-autoplay_count_2{0%{opacity:0;}
20%{opacity:1;}
50%{opacity:1;}
70%{opacity:0;}
100%{opacity:0;}
}
@keyframes item-autoplay_count_3{0%{opacity:0;}
10%{opacity:1;}
33%{opacity:1;}
43%{opacity:0;}
100%{opacity:0;}
}
@keyframes item-autoplay_count_4{0%{opacity:0;}
8%{opacity:1;}
25%{opacity:1;}
33%{opacity:0;}
100%{opacity:0;}
}
@keyframes item-autoplay_count_5{0%{opacity:0;}
7%{opacity:1;}
20%{opacity:1;}
27%{opacity:0;}
100%{opacity:0;}
}
@-moz-keyframes item-autoplay_count_2{0%{opacity:0;}
20%{opacity:1;}
50%{opacity:1;}
70%{opacity:0;}
100%{opacity:0;}
}
@-moz-keyframes item-autoplay_count_3{0%{opacity:0;}
10%{opacity:1;}
33%{opacity:1;}
43%{opacity:0;}
100%{opacity:0;}
}
@-moz-keyframes item-autoplay_count_4{0%{opacity:0;}
8%{opacity:1;}
25%{opacity:1;}
33%{opacity:0;}
100%{opacity:0;}
}
@-moz-keyframes item-autoplay_count_5{0%{opacity:0;}
7%{opacity:1;}
20%{opacity:1;}
27%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes item-autoplay_count_2{0%{opacity:0;}
20%{opacity:1;}
50%{opacity:1;}
70%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes item-autoplay_count_3{0%{opacity:0;}
10%{opacity:1;}
33%{opacity:1;}
43%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes item-autoplay_count_4{0%{opacity:0;}
8%{opacity:1;}
25%{opacity:1;}
33%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes item-autoplay_count_5{0%{opacity:0;}
7%{opacity:1;}
20%{opacity:1;}
27%{opacity:0;}
100%{opacity:0;}
}
@-o-keyframes item-autoplay_count_2{0%{opacity:0;}
20%{opacity:1;}
50%{opacity:1;}
70%{opacity:0;}
100%{opacity:0;}
}
@-o-keyframes item-autoplay_count_3{0%{opacity:0;}
10%{opacity:1;}
33%{opacity:1;}
43%{opacity:0;}
100%{opacity:0;}
}
@-o-keyframes item-autoplay_count_4{0%{opacity:0;}
8%{opacity:1;}
25%{opacity:1;}
33%{opacity:0;}
100%{opacity:0;}
}
@-o-keyframes item-autoplay_count_5{0%{opacity:0;}
7%{opacity:1;}
20%{opacity:1;}
27%{opacity:0;}
100%{opacity:0;}
}
.slider.slider_count_2 .item/*Слайдер*/{animation: item-autoplay_count_2 10s infinite;-moz-animation: item-autoplay_count_2 10s infinite;-webkit-animation: item-autoplay_count_2 10s infinite;-o-animation: item-autoplay_count_2 10s infinite;}
.slider.slider_count_3 .item/*Слайдер*/{animation: item-autoplay_count_3 15s infinite;-moz-animation: item-autoplay_count_3 15s infinite;-webkit-animation: item-autoplay_count_3 15s infinite;-o-animation: item-autoplay_count_3 15s infinite;}
.slider.slider_count_4 .item/*Слайдер*/{animation: item-autoplay_count_4 20s infinite;-moz-animation: item-autoplay_count_4 20s infinite;-webkit-animation: item-autoplay_count_4 20s infinite;-o-animation: item-autoplay_count_4 20s infinite;}
.slider.slider_count_5 .item/*Слайдер*/{animation: item-autoplay_count_5 25s infinite;-moz-animation: item-autoplay_count_5 25s infinite;-webkit-animation: item-autoplay_count_5 25s infinite;-o-animation: item-autoplay_count_5 25s infinite;}
.slider .item:nth-of-type(2)/*Слайдер*/{animation-delay:5s;-moz-animation-delay:5s;-webkit-animation-delay:5s;-o-animation-delay:5s;}
.slider .item:nth-of-type(3)/*Слайдер*/{animation-delay:10s;-moz-animation-delay:10s;-webkit-animation-delay:10s;-o-animation-delay:10s;}
.slider .item:nth-of-type(4)/*Слайдер*/{animation-delay:15s;-moz-animation-delay:15s;-webkit-animation-delay:15s;-o-animation-delay:15s;}
.slider .item:nth-of-type(5)/*Слайдер*/{ animation-delay:20s;-moz-animation-delay:20s;-webkit-animation-delay:20s;-o-animation-delay:20s;}
.uptocall-mini_button /* Мигающая кнопка */ /*Контейнер для кнопки*/{  position: absolute;  z-index: 120;  margin: 2px 0 0 10px;}
#uptocall-mini /* Мигающая кнопка */{position:relative;}
 #uptocall-mini .uptocall-mini-phone  /* Мигающая кнопка */{-moz-border-radius:50% !important;-webkit-border-radius:50% !important;border-radius:50% !important;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:rgba(255, 149, 0, 0.8);width:35px;height:35px;-webkit-animation: uptocallmini 1.5s 0s ease-out infinite;-moz-animation: uptocallmini 1.5s 0s ease-out infinite;animation: uptocallmini 1.5s 0s ease-out infinite;}
 #uptocall-mini .uptocall-mini-phone:before  /* Мигающая кнопка */{content: "";position: absolute;width: 100%;height: 100%;top:0;left:0;background-image:url(icons/icon-basket-30.png);background-repeat:no-repeat;background-position:center center;-webkit-animation: uptocallphone 1.5s linear infinite;-moz-animation: uptocallphone 1.5s linear infinite;animation: uptocallphone 1.5s linear infinite;}
#uptocall-mini_cinema /* Мигающая кнопка */{  position:relative;  }
#uptocall-mini_cinema .uptocall-mini-phone  /* Мигающая кнопка */{-moz-border-radius:50% !important;-webkit-border-radius:50% !important;border-radius:50% !important;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:rgba(255, 149, 0, 0.8);width:35px;height:35px;-webkit-animation: uptocallmini 1.5s 0s ease-out infinite;-moz-animation: uptocallmini 1.5s 0s ease-out infinite;animation: uptocallmini 1.5s 0s ease-out infinite;}
#uptocall-mini_cinema .uptocall-mini-phone:before  /* Мигающая кнопка */{content: "";position: absolute;width: 100%;height: 100%;top:0;left:0;background-image:url(icons/icon-cinema-30.png);background-repeat:no-repeat;background-position:center center;-webkit-animation: uptocallphone 1.5s linear infinite;-moz-animation: uptocallphone 1.5s linear infinite;animation: uptocallphone 1.5s linear infinite;}
 @-webkit-keyframes uptocallphone  /* Мигающая кнопка */{0%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25%{-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
50%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
75%{-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
100%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-moz-keyframes uptocallphone  /* Мигающая кнопка */{0%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25%{-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
50%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
75%{-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
100%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes uptocallphone{0%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
25%{-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
50%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
75%{-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
100%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-webkit-keyframes uptocallmini  /* Мигающая кнопка */{0%{box-shadow: 0 0 8px 6px rgba(255, 149, 0, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(255, 149, 0, 0);}
10%{box-shadow: 0 0 8px 6px #ff9500, 0 0 7px 5px rgba(0,0,0,0), 0 0 3px 5px #ff9500;}
100%{box-shadow: 0 0 8px 6px rgba(255, 149, 0, 0), 0 0 0px 5px rgba(0,0,0,0), 0 0 0px 5px rgba(255, 149, 0, 0);}
}
@-moz-keyframes uptocallmini  /* Мигающая кнопка */{0%{box-shadow: 0 0 8px 6px rgba(255, 149, 0, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(255, 149, 0, 0);}
10%{box-shadow: 0 0 8px 6px #ff9500, 0 0 7px 5px rgba(0,0,0,0), 0 0 3px 5px #ff9500;}
100%{box-shadow: 0 0 8px 6px rgba(255, 149, 0, 0), 0 0 0px 5px rgba(0,0,0,0), 0 0 0px 5px rgba(255, 149, 0, 0);}
}
@keyframes uptocallmini  /* Мигающая кнопка */{0%{box-shadow: 0 0 8px 6px rgba(255, 149, 0, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(255, 149, 0, 0);}
10%{box-shadow: 0 0 8px 6px #ff9500, 0 0 7px 5px rgba(0,0,0,0), 0 0 3px 5px #ff9500;}
100%{box-shadow: 0 0 8px 6px rgba(255, 149, 0, 0), 0 0 0px 5px rgba(0,0,0,0), 0 0 0px 5px rgba(255, 149, 0, 0);}
}
#menu img/* Выезжающая панель */{  width: 40px;  height: 40px;  margin-top:5px;}
div#nav/* Выезжающая панель */{  height: 100%;  width: 80%;  position: fixed;  left: -80%;  top: 0px;  z-index: 3000;  transition: left 0.5s;  }
div#navbar/* Выезжающая панель */{width: 100%;height: 100%;background-color: #575757;/*Фон панели*/}
div#nav-menu/* Выезжающая панель */{position: absolute;left: 105%;top: 0;}
div#navbar ul/* Выезжающая панель */{width: 100%;}
.main-menu/* Выезжающая панель */{  width: 80%;  margin: 0;  padding: 0;  list-style: none;  }
.main-menu a:active /* Выезжающая панель */{  color:#ffffff;}
.main-menu a:visited /* Выезжающая панель */{  color:#ffffff;}
.main-menu a:hover /* Выезжающая панель */{  color:#ffffff;}
@media screen and (min-width: 280px) and (max-width: 358px){.main-menu a/* Выезжающая панель */{  display: block;  margin-bottom: -1px;  padding: 0px 30px;  color:#ffffff;  font-family: 'RobotoLight';  text-transform:uppercase;  text-shadow: none;  font-size:11px;  -webkit-tap-highlight-color: transparent;  text-decoration: none;  /*border-top: 1px solid #E5E5E5;*/}
.menu_name /* Выезжающая панель название приложения */{  font-family:'LobsterRegular';  text-align: center;  color:#ffffff;  /*text-transform:uppercase;  */text-shadow: none;  font-size:22px;  padding:8px 0 0 0;  -webkit-tap-highlight-color: transparent;  text-decoration: none;}
.menu_name_gorod /* Выезжающая панель наименование города */{  font-family: 'RobotoLight';  text-align: center;  color:#ffffff;  text-transform:uppercase;  text-shadow: none;  font-size:14px;  padding:0 0 10px 0;  -webkit-tap-highlight-color: transparent;  text-decoration: none;}
}
@media screen and (min-width: 359px) and (max-width: 6000px){.main-menu a/* Выезжающая панель */{  display: block;  margin-bottom: -1px;  padding: 2px 30px;  color:#ffffff;  font-family: 'RobotoLight';  text-transform:uppercase;  text-shadow: none;  font-size:14px;  -webkit-tap-highlight-color: transparent;  text-decoration: none;  /*border-top: 1px solid #E5E5E5;*/}
.menu_name /* Выезжающая панель название приложения */{  font-family:'LobsterRegular';  text-align: center;  color:#ffffff;  /*text-transform:uppercase;  */text-shadow: none;  font-size:32px;  padding:20px 0 0 0;  -webkit-tap-highlight-color: transparent;  text-decoration: none;}
.menu_name_gorod /* Выезжающая панель наименование города */{  font-family: 'RobotoLight';  text-align: center;  color:#ffffff;  text-transform:uppercase;  text-shadow: none;  font-size:20px;  padding:0 0 20px 0;  -webkit-tap-highlight-color: transparent;  text-decoration: none;}
}
.iconmenutitle{color: ;}
a:visited{color: ;}
