@font-face {
  font-family: "SFUIDisplay-Light";
  src: url("../fonts/SFUIDisplay-Light.otf") format("otf"),
    url("../fonts/SFUIDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../fonts/SFUIDisplay-Regular.otf") format("otf"),
    url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay-Semibold";
  src: url("../fonts/SFUIDisplay-Semibold.otf") format("otf"),
    url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "SFUIDisplay-Regular", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fcfafa;
}

.row,
h2,
p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.header .button-collapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header .material-icons {
  color: #ffffff;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.background-hide {
  background: none !important;
  height: 239px
}

.header .side-nav{
  padding-top: 50px;
}

.header_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 30px;
  position: fixed;
  z-index: 9999;
  background: #d9d9d9;
  width: 100%;
}
.header_nav .header_nav-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10%;
}
.header_nav .header_nav-left .close-login {
  font: 21px/22px "SFUIDisplay-Light", sans-serif;
  color: #000;
}
.header_nav .header_nav-center {
  display: inline-block;
}
.header_nav .header_nav-center h2 {
  font: 21px/36px "SFUIDisplay-Regular", sans-serif;
  color: #000;
}
.header_nav .header_nav-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10%;
}

.logo .logo_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}
.logo .logo_row .logo_center {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.logo .logo_row .logo_center .logo_image {
  margin: 0 auto;
  display: block;
  width: 30%;
}
.logo .logo_row .logo_center span {
  font: 36px/36px "SFUIDisplay-Semibold", sans-serif;
  color: #45362a;
  margin-top: 10px;
}
.logo .logo_row .logo_center p {
  font: 10px/10px "SFUIDisplay-Semibold", sans-serif;
  color: #45362a;
}

.search-hide {
  margin-top: 56px;
  background-color: #d9d9d9;
}
.search-hide .search-hide_form {
  width: 100%;
  position: relative;
}
.search-hide .search-hide_form input {
  background-color: #2f2f2e;
  opacity: 0.38;
  color: #fcfcfc;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  outline: none;
  border: none;
  margin: 0px 0px 10px 0px;
  height: 40px;
  font: 20px/40px "SFUIDisplay-Light", sans-serif;
  padding: 0px 20px 0px 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.search-hide .search-hide_form input::-webkit-input-placeholder {
  color: #fcfcfc;
  font: 20px/40px "SFUIDisplay-Light", sans-serif;
  font-weight: 400;
}
.search-hide .search-hide_form input::-moz-placeholder {
  color: #fcfcfc;
  font: 20px/40px "SFUIDisplay-Light", sans-serif;
  font-weight: 400;
}
.search-hide .search-hide_form input:-ms-input-placeholder {
  color: #fcfcfc;
  font: 20px/40px "SFUIDisplay-Light", sans-serif;
  font-weight: 400;
}
.search-hide .search-hide_form input::-ms-input-placeholder {
  color: #fcfcfc;
  font: 20px/40px "SFUIDisplay-Light", sans-serif;
  font-weight: 400;
}
.search-hide .search-hide_form input::placeholder {
  color: #fcfcfc;
  font: 20px/40px "SFUIDisplay-Light", sans-serif;
  font-weight: 400;
}
.search-hide .search-hide_form input:focus {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.search-hide .search-hide_form .reset {
  position: absolute;
  right: 17px;
  top: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: rgba(13, 40, 81, 0.58);
  background-color: rgba(254, 254, 254, 0.55);
}
.search-hide .search-hide_form .search-icon {
  position: absolute;
  left: 17px;
  top: 8px;
  color: #fefefe;
}

.padd-0 {
  padding: 0px !important;
}

.filter {
  margin-bottom: 30px;
}
.filter .collapsible {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.filter .collapsible li {
  margin-bottom: 5px;
}
.filter .collapsible .collapsible-header {
  font: 21px/24px "SFUIDisplay-Regular", sans-serif;
  color: #292829;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: solid 0.5px #cdcdcd;
  border-bottom: solid 0.5px #cdcdcd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.filter .collapsible .collapsible-header i {
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  color: #cdcdcd;
  margin-right: 0px;
  width: 1rem;
}
.filter .collapsible .collapsible-header.active i {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.filter .collapsible .collapsible-body {
  border-bottom: solid 0.5px #cdcdcd;
  background: #fff;
}
.filter .collapsible .collapsible-header-price {
  font: 21px/24px "SFUIDisplay-Regular", sans-serif;
  color: #292829;
  border-top: solid 0.5px #cdcdcd;
  border-bottom: solid 0.5px #cdcdcd;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  padding: 10px 15px;
}
.filter .collapsible .collapsible-header-price #test-slider {
  margin: 10px 0px;
}
.filter .collapsible .collapsible-header-price .noUi-connect {
  background-image: -webkit-linear-gradient(
    263deg,
    #a1f0bb 1%,
    #50c878 60%,
    #4eb16f
  );
  background-image: -o-linear-gradient(
    263deg,
    #a1f0bb 1%,
    #50c878 60%,
    #4eb16f
  );
  background-image: linear-gradient(187deg, #a1f0bb 1%, #50c878 60%, #4eb16f);
}
.filter .collapsible .collapsible-header-price .price-value-filter {
  position: absolute;
  right: 15px;
  color: #50c878;
  font: 16px/16px "SFUIDisplay-Light", sans-serif;
}
.filter .filter-btn {
  margin: 30px 0px 60px 0px;
  width: 100%;
  display: none;
}
.filter .filter-btn .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}
.filter .filter-btn .col .filter-btn_reset {
  font: 21px/44px "SFUIDisplay-Regular", sans-serif;
  display: block;
  background-color: rgba(243, 239, 239, 0.29);
  border: solid 0.5px #000;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: #020202;
  text-transform: uppercase;
  padding: 0px 30px;
}
.filter .filter-btn .col .filter-btn_ok {
  font: 21px/44px "SFUIDisplay-Regular", sans-serif;
  display: block;
  background-color: #50c878;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
  text-transform: uppercase;
  padding: 0px 30px;
}
.filter .filter-select{
  display: none;
  margin-top: 10px;
  padding: 5px 0px;
  background-color: #fff;
  opacity: 0.851;
  -webkit-box-shadow: 0.209px 2.993px 7.6px 2.4px rgba(78, 73, 73, 0.21);
    box-shadow: 0.209px 2.993px 7.6px 2.4px rgba(78, 73, 73, 0.21);
}
.filter .filter-select .browser-default{
  margin: 10px 0px;
  border: none;
  border-top: solid 0.5px #cdcdcd;
  border-bottom: solid 0.5px #cdcdcd;
  font: 21px/24px "SFUIDisplay-Regular", sans-serif;
  color: #292829;
  height: 3.5rem;
  padding: 0px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/arrow-select.png) 98%/15% no-repeat #eee;
  background-size: 12px;
}
.filter .filter-select .browser-default:focus{
 outline: none;
}

.login-page{
  margin-top: 80px;
}
.login-page .login-form {
  position: relative;
  margin-top: 20px;
}

.login-page .score-page {
  margin-top: 0px;
}

.login-page .material-icons {
  color: #50c878;
  position: absolute;
  left: 10px;
  font-size: 18px;
}

.login-page .email-icon-form {
  top: 13px;
}

.login-page .key-icon-form {
  bottom: 25px;
}

.login-page input {
  border: solid 0.5px #e6e6e6 !important;
  margin: 0px 0px 10px 0px !important;
  padding: 0px 40px !important;
  font: 18px/18px "SFUIDisplay-Regular", sans-serif;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.login-page input::-webkit-input-placeholder {
  color: #292829;
  font: 18px/18px "SFUIDisplay-Regular", sans-serif;
}
.login-page input::-moz-placeholder {
  color: #292829;
  font: 18px/18px "SFUIDisplay-Regular", sans-serif;
}
.login-page input:-ms-input-placeholder {
  color: #292829;
  font: 18px/18px "SFUIDisplay-Regular", sans-serif;
}
.login-page input::-ms-input-placeholder {
  color: #292829;
  font: 18px/18px "SFUIDisplay-Regular", sans-serif;
}
.login-page input::placeholder {
  color: #292829;
  font: 18px/18px "SFUIDisplay-Regular", sans-serif;
}

.login-page .email-icon-form:before,
.login-page .key-icon-form:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
}

.login-page .email-icon-form:before {
  background: url("../img/icon-email.png") no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
  top: 15px;
}

.login-page .key-icon-form:before {
  background: url("../img/icon-key.png") no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
  bottom: 20px;
}

.login-page .login-page_btn {
  margin-top: 20px;
}

.login-page .collection .collection-item {
  padding: 10px;
}

.support-section {
  margin-top: 40px;
}
.support-section .collection-item {
  color: #000 !important;
  font: 18px/21px "SFUIDisplay-Regular", sans-serif;
  padding: 10px 40px;
  position: relative;
}
.support-section .icon-pass:before,
.support-section .icon-account:before,
.support-section .icon-list:before,
.support-section .icon-user:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 25px;
  left: 10px;
}

.account{
  /* margin-top: 30px; */
}

.support-section .icon-pass:before {
  background: url("../img/icon-pass.png") no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
}
.support-section .icon-account:before {
  background: url("../img/icon-account.png") no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
}
.support-section .icon-list:before {
  background: url("../img/icon-list.png") no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
}
.support-section .icon-user:before {
  background: url("../img/icon-user.png") no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
}

.profile-photo {
  width: 100%;
  height: 240px;
  position: relative;
  top: -77px;
  z-index: -1;
}
.profile-photo:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #d9d9d9;
  opacity: 0.55;
}
.profile-photo .profile-photo_img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.profile-photo .profile-photo_avatar {
  width: 120px;
  height: 120px;
  display: block;
  position: relative;
  bottom: 65%;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #fbfcfd;
  overflow: hidden;
}
.profile-photo .profile-photo_avatar img {
  /* width: 100%; */
  height: 100%;
  /* -o-object-fit: cover;
  object-fit: cover;
  display: block; */
}

.account .collection {
  border: none;
}
.account .collection .collection-item {
  margin: 10px 0px;
  border: solid 0.5px #e6e6e6;
  color: #292829;
  font: 18px/22px "SFUIDisplay-Regular", sans-serif;
}
.account .collection .collection-item a {
  font: 18px/22px "SFUIDisplay-Light", sans-serif;
  color: #5a595a;
}

.conditions {
  margin: 10px 0px;
}
.conditions .collection {
  position: relative;
}
.conditions .collection .collection-item {
  padding: 10px 45px;
  font: 18px/22px "SFUIDisplay-Regular", sans-serif;
  color: #292829;
}
.conditions .collection .icon-list:before,
.conditions .collection .icon-chek:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 25px;
  left: 20px;
}
.conditions .collection .icon-list:before {
  background: url("../img/icon-list.png") no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px;
}
.conditions .collection .icon-chek:before {
  background: url("../img/icon-chek.png") no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px;
}
.conditions .conditions_dtn {
  margin-top: 20px;
  padding: 0px 30px;
}

input.profile-input:not([type]), input.profile-input[type=text]:not(.browser-default), input.profile-input[type=password]:not(.browser-default), input.profile-input[type=email]:not(.browser-default), input.profile-input[type=url]:not(.browser-default), input.profile-input[type=time]:not(.browser-default), input.profile-input[type=date]:not(.browser-default), input.profile-input[type=datetime]:not(.browser-default), input.profile-input[type=datetime-local]:not(.browser-default), input.profile-input[type=tel]:not(.browser-default), input.profile-input[type=number]:not(.browser-default), input.profile-input[type=search]:not(.browser-default), textarea.materialize-textarea{
    width: 50%;
    border: 0!important;
    box-shadow: none!important;
    color: #5a595a;
    text-align: right;
    margin: 0;
	padding: 3px 0;
    height: auto;	
}

.btn-def {
  background-color: #50c878;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  font: 18px/42px "SFUIDisplay-Regular", sans-serif;
  display: block;
  color: #fff;
}

.product {
  margin: 50px 0px;
}
.product .product_cart {
  margin: 30px 0px;
}
.product .product_cart .product_image {
  background: #fff;
  -webkit-box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
  box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 400px;
}
.product .product_cart .product_image img {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -o-object-fit: contain;
  object-fit: contain;
}
.product .product_cart .product_info {
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
  box-shadow: 0px 0.5px 1.2px 0.3px rgba(78, 73, 73, 0.16);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 20px;
}
.product .product_cart .product_info .title,
.product .product_cart .product_info .price {
  font: 21px/42px "SFUIDisplay-Semibold", sans-serif;
  color: #292829;
}
.product .product_cart .product_info .color,
.product .product_cart .product_info .size {
  font: 18px/28px "SFUIDisplay-Regular", sans-serif;
  color: #292829;
}
.product .product_cart .product_info .size{
  margin: 5px 0px;
  width: 40%;
}
.product .product_cart .product_info .balance {
  font: 18px/28px "SFUIDisplay-Regular", sans-serif;
  color: #e2001a;
}

.profile-head .header_nav{
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2c945), to(#f2c945));
  background-image: -webkit-linear-gradient(bottom, #f2c945, #f2c945);
  background-image: -o-linear-gradient(bottom, #f2c945, #f2c945);
  background-image: linear-gradient(to top, #f2c945, #f2c945);
}

.profile-head .header_nav h2,     
.profile-head .header_nav .header_nav-left .close-login{     
    color: #fff;	
}

.conditions .btn-def{
    background-color: #f2c945;
    -webkit-border-radius: 12.6px;
    border-radius: 12.6px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: #020202;	
}

.conditions .collection-item {
	padding: 10px!important;
}
.conditions .collection form {
	display: inline-block;
}			
.imok{
font-size: 0.9em;
    margin-left: -10px;
    position: relative;
    display: inline-block;	
}
.imok-form label{height:18px}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .product .product_cart {
    margin: 10px 0px;
  }
  .product .product_cart .product_image,
  .product .product_cart .product_image .carousel {
    height: 260px;
    border-radius: 8px;

  }
  .product .product_cart .product_image img {
    /* height: auto; */
  }
  .product .product_cart .product_info {
    margin-top: 10px;
  }
  .login-page .login-page_btn {
    margin-top: 0px;
  }
  .header_nav {
    padding: 5px 20px;
  }
  .account .collection .collection-item {
    font-size: 16px;
  }
  .account .collection .collection-item a {
    font-size: 14px;
  }
  .conditions .collection .collection-item {
    font-size: 16px;
  }
  .account .collection .collection-item {
    margin: 0px;
    border-bottom: 1px;
  }
  .account .collection .collection-item:last-child {
    border-bottom: solid 0.5px #e6e6e6;
  }
  .conditions .conditions_dtn {
    padding: 0px 15px;
  }
  .login-page input {
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input::-webkit-input-placeholder {
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input::-moz-placeholder {
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input:-ms-input-placeholder {
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input::-ms-input-placeholder {
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input::placeholder {
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .support-section .collection-item {
    font-size: 16px;
  }
  .filter .filter-btn .col {
    padding: 0px 15px;
  }
  .filter .filter-btn .col .filter-btn_reset,
  .filter .filter-btn .col .filter-btn_ok {
    font: 16px/40px "SFUIDisplay-Regular", sans-serif;
    padding: 0px 20px;
  }
  .filter .collapsible .collapsible-header,
  .filter .collapsible .collapsible-header-price {
    font-size: 16px;
  }
  .search-hide .search-hide_form input {
    font-size: 16px;
  }
  .search-hide .search-hide_form input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .search-hide .search-hide_form input::-moz-placeholder {
    font-size: 16px;
  }
  .search-hide .search-hide_form input:-ms-input-placeholder {
    font-size: 16px;
  }
  .search-hide .search-hide_form input::-ms-input-placeholder {
    font-size: 16px;
  }
  .search-hide .search-hide_form input::placeholder {
    font-size: 16px;
  }
  .search-hide {
    margin-top: 46px;
    display: none;
  }
  .search-hide .search-hide_form .reset,
  .search-hide .search-hide_form .search-icon {
    font-size: 16px;
    top: 12px;
  }
  .search-hide .col {
    padding: 0 15px;
  }
  .header_nav .header_nav-right,
  .header_nav .header_nav-left {
    width: 15%;
  }
  .header_nav .header_nav-left .close-login{
    font-size: 16px;
  }
  .profile-photo .profile-photo_avatar{
    width: 100px;
    height: 100px;
    bottom: 50%;
  }
  .profile-head {
    height: 209px
  }
  .nav-profile{
    background: none;
  }
  .product .product_cart .product_info .color, .product .product_cart .product_info .size,
  .product .product_cart .product_info .balance{
    font-size: 16px;
  }
  .login-page .collection .collection-item{
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input{
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input::placeholder{
    font: 16px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page{
    margin-top: 50px;
  }
.profile-head {
    height: 155px;
}  
  .support-section {
    margin-top: 10px;
}
[type="checkbox"]:checked+label:before{
	border-right-color: #4596e8;
	border-bottom-color: #4596e8;
}	
  .filter .filter-select .browser-default{
    background-position: 96%;
    background-size: 10px;
  }
  .filter .filter-select .browser-default{
    font-size: 16px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .account .collection .collection-item {
    font-size: 14px;
  }
  .account .collection .collection-item a {
    font-size: 12px;
  }
  .conditions .collection .collection-item {
    font-size: 14px;
  }
  .header_nav .header_nav-right,
  .header_nav .header_nav-left {
    width: 20%;
  }
  .product .product_cart .product_info .color, .product .product_cart .product_info .size,
  .product .product_cart .product_info .balance{
    font-size: 14px;
  }
  .product .product_cart .product_info .title, .product .product_cart .product_info .price{
    font-size: 18px;
  }
  .product .product_cart .product_info{
    padding: 10px;
  }
  .login-page input{
    font: 14px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page input::placeholder{
    font: 14px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .login-page .collection .collection-item{
    font: 14px/18px "SFUIDisplay-Regular", sans-serif;
  }
  .support-section .collection-item{
    font-size: 14px;
  }
  .filter .filter-btn .col .filter-btn_reset, .filter .filter-btn .col .filter-btn_ok{
    font-size: 14px;
  }
  .filter .filter-select .browser-default{
    height: 3rem;
  }
}
